<div id="layoutSidenav_content">
	<main>
		<div class="container-fluid">
			<h3 class="mt-4">{{ cName }}</h3>
			<div class="row">
				<div class="col-sm-8">
					<div id="map"></div>
				</div>
				<div class="col-sm-4">
					<div class="col-sm-12">
						<h4>From Date</h4>
						 <datetime format="YYYY-MM-DD h:i:s" v-model="fromdate"></datetime>
					</div>
					<div class="col-sm-12">
						<h4>To Date</h4>
						 <datetime format="YYYY-MM-DD h:i:s" v-model="todate"></datetime>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label for="sel1">Select Vehicle:</label>
							<select class="form-control" v-model="vehicleList">
								<option v-for="item in vehicleData" :value="item[0]">{{ item[1] }}</option>
							</select>
						</div>
						
					</div>
					<br>
					<div class="col-sm-6">
						<hr>
						<h3>
							<span>{{ rtoNumber }}</span>	
						</h3>
						
					</div>
					<br>
					<br>
					<div class="col-sm-6">
						<hr>
						<h3>
							<span>{{ vehCategory }}</span>	
						</h3>						
					</div>
					<br>
					<div class="col-sm-12">
						
						<img v-bind:src="vehicleImg" style="height: 200px; width: 100%">
						<hr>
					</div>
					<div class="col-sm-4">
						<button type="button" class="btn btn-success btn-block" v-on:click = "startAnimation" title="Start tracking">start</button>
					</div>
					<div class="col-sm-4">
						<button type="button" class="btn btn-danger btn-block" v-on:click = "stopAnimation" title="Click to stop tracking">Stop</button>
					</div>
					<div class="col-sm-4">
						<button type="button" class="btn btn-warning btn-block" v-on:click = "resumeAnimation" title="Click to resume tracking">Resume</button>
					</div>
					
									
				</div>
			</div>
			
		</div>		
	</main>	
</div>