<div id="company" class="container-fluid">
    <div class="row">
    	<div class="col-sm-7">
            <img id="empTranImg" width="650" height="500" src="/images/etmsvtsimg.gif" alt="The Scream">
    	</div>
        <div class="col-sm-5">
            <div class="titleContainer">
                <div class="pageTitle">Monitor your vehicles on your finger tips</div>
                <div class="pageMessage">
                     We provide vehicle tracking, auto routing, end to end employee transport management solutions.
                </div>
                <div class="btnCss">
                    <button type="button" class="btn btn-default">Request for demo</button>
                </div>
                
            </div>            
        </div>
        <div class="col-sm-12">
            <div class="titleGap"></div>
        </div>
    	<div class="col-sm-5">
    		<div class="titleContainer">
                <div class="pageTitle">Meet your guide</div>
                <div class="pageMidMess">
                     NyleTech helps corporate to re-imagine their transportation

                </div>
                <br>
                <div class="pageMessage">
                     What Defines Us Is Our Experience In The Industry, A Team Of Professionals Who Have Been In This Domain Ever Since Its Inception In India. We Believe What Is Seen As A Gps Product Is Very Generic, Its Potential And Application Are Large If One Is Ready To Customize, This Is Our Position.
                </div>
                <div class="btnCss">
                    <button type="button" class="btn btn-default">Explore</button>
                    <button type="button" class="btn btn-default">Speek to ecplore</button>
                </div>                
            </div>
					
    	</div>
        <div class="col-sm-7">
            <img id="guidanceTranImg" src="/images/guidance.gif" alt="The Scream">
        </div>
        <br>
		<div class="col-sm-12">
            <div class="howToDo">
                <div class="pageTitle text-cnter">How we do it</div>
                <div class="pageMidMess">Solutions</div>
                <div class="pageMessage">
                We build products and solutions that suit your requirement, we do not make products and then tell you that this is best suitable for you, instead we understand your requirement and customize it for you
                </div>
            </div>      
        </div>
        <div class="col-sm-12">
            
        </div>
        <div class="col-sm-6">
            <div class="serviceFor">
                <h4>ETMS</h4>
                <p> Manage, streamline and automate all your employee transport management
                  operations with our sophisticated, innovative, robust, and comprehensive
                  ETMS system. </p>
            </div>
        </div>
        <div class="col-sm-6">
             <div class="serviceFor">
                 <h4> VTS </h4>
                <p> Vehicle Tracking System (VTS) encompasses an overabundance of operations
                  and services that provide critical vehicular information like location,
                  speed, mileage, as well as ignition status. </p>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="howToDo">
                <div class="pageTitle text-cnter">Contact us</div>
                <div class="pageMidMess">Send message</div>
                <br>
            </div>      
        </div>
        <div class="col-sm-6">
            <div id="map"></div>
        </div>
        <div class="col-sm-6">
            <ContactUsForm></ContactUsForm>
        </div>
        <div class="col-sm-12">
            <br>
            <CompanyFooter></CompanyFooter>           
        </div>
        
    </div>     
</div>