<div id="contact" class="container-fluid text-center">
  <div class="text-center addStyle">
    <div class="col-sm-12">
      <div class="inner-banner">
        <h2>
          <u>Contact Us</u>
        </h2>
      </div>
      <br>
    </div>    
    <div class="col-sm-8">
      <ContactUsForm></ContactUsForm>
    </div>
    <div class="col-sm-4">
      <div class="messCss">
        <img v-bind:src="'/images/sendMess.gif'" v-bind:style="{height:'100%',width:'100%'}" alt="Cinque Terre" />
      </div>      
    </div>
    <div class="col-sm-12"></div>
    <div class="col-sm-3">
        <div class="adr">
          <h5> <i class='fas fa-map-marker'></i> Bengaluru</h5>
          <div class="d-flex">
            <div class="adr-txt">
              <p>#2 HM 201,East of NGEF</p>
              <p>Kasturinagar, Bangalore. </p>
            </div>
          </div>
          <div>  <a href="tel:+91 8123088171"> <i class='fas fa-phone'></i> +91 8123088171 </a> </div>
          <div>  <a href="mailto:info@nyletech.com"> <i class="fa fa-envelope"></i> info@nyletech.com </a> </div>  
        </div>
      </div>
      <div class="col-sm-3">
        <div class="adr">
          <h5> <i class='fas fa-map-marker'></i> Chennai </h5>
          <div class="d-flex">
            <div class="adr-txt">
              <p>Old no-3/28, New no-1/1, 1st Floor, Ganesh Nagar, 2nd Street, GK Industrial Estate, Alapakkam,</p>
              <p>Porur, Chennai-600116</p>
            </div>
          </div>
          <div>  <a href="tel:+91  044 4558 8171"> <i class='fas fa-phone'></i> 044 4558 8171 </a> </div> 
          <div>  <a href="tel:+91 9591201070"> <i class='fas fa-phone'></i> +91 9591201070 </a> </div> 
          <!--<div>  <a href="tel:+91 9952266226"> <i class="las la-phone"></i> +91 9952266226 </a> </div> -->
          <div>  
            <a href="mailto:info@nyletech.com"> <i class="fa fa-envelope"></i>  info@nyletech.com </a> 
          </div> 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="adr">
          <h5> <i class='fas fa-map-marker'></i> Hyderabad </h5>
          <div class="d-flex">
            <div class="adr-txt">
              <p>703/B,7th Floor,Babukhan Estate,</p>
              <p> Basheerbagh, Hyderabad-500029 </p>
            </div>
          </div>
          <div>  <a href="tel:+91 040-4016 5800"> <i class='fas fa-phone'></i> 040-4016 5800 </a> </div>
          <div>  <a href="tel:+91 8143517179"> <i class='fas fa-phone'></i> +91 8143517179 </a> </div>
          <div>  
            <a href="mailto:info@nyletech.com"> <i class="fa fa-envelope"></i>  info@nyletech.com </a> 
          </div>  
        </div>
      </div>
      <div class="col-sm-3">
        <div class="adr">
          <h5><i class='fas fa-map-marker'></i>  Mangalore </h5>
          <div class="d-flex">
            <div class="adr-txt">
              <p>#210, 2nd Floor, Mangalore Gate</p>
              <p>Mangalore - 575002</p>
            </div>
          </div>
          <div>  <a href="tel:0824 2433233"> <i class='fas fa-phone'></i> 0824 2433233 </a> </div> 
          <div>  <a href="tel:+91 9686247022"> <i class='fas fa-phone'></i> +91 9686247022 </a>  </div> 
          <div>  
            <a href="mailto:info@nyletech.com"> <i class="fa fa-envelope"></i>  info@nyletech.com </a> 
          </div> 
        </div>
      </div>
      <div class="col-sm-12">
        <br>
        <br>
      </div>
      <div class="col-sm-12">
        <CompanyFooter></CompanyFooter>           
      </div>
  </div>  
</div>