<div id="login" class="container-fluid text-center">
	<div class="row">
		
		<div class="col-sm-7">
			<img id="guidanceTranImg" src="/images/loginImage.gif" alt="The Scream">
		</div>
		<div class="col-sm-5">
			<h2><u>Login</u></h2>
			<form >				
				<div class="">
					<label for="uname"><b>Username</b></label>
					<input type="text" placeholder="Enter Username" name="uname" v-model="username" required>

					<label for="psw"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="psw" v-model="password" required>

					<button type="button" v-on:click="userlogin" >Login</button>
					<label>
					<input type="checkbox" checked="checked" name="remember"> Remember me
					</label>
				</div>

				<div class="" style="background-color:#f1f1f1">
					<button type="button" class="cancelbtn">Cancel</button>
					<span class="psw">Forgot <a href="#">password?</a></span>
				</div>
			</form>
		</div>
	</div>	
	<CompanyFooter></CompanyFooter>
</div>